.container{
    width: 100vw;
    height: auto;
    background-color: rgb(187, 100, 241);
}
.heading{
      background-color: rgb(187, 124, 218);
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid white;
}
.text{
     padding: 10px;
     font-size: 30px;
     font-weight: 700;
     font-family: calibri;
     background-color: rgb(251, 251, 251);
     width: 30%;
     border-radius: 30px;
     border: 3px dashed black;
}
.card_area{
      height: auto;
      display: flex;
      justify-content: center;
}
.empty{
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      align-items: center;
      
}
h1{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
}
.empty button{
     padding: 10px;
     font-size: 20px;
     border-radius: 10px;
     width: 30%;
}

.empty button:hover{
      cursor: pointer;
      background-color: blueviolet;
      transition: 1s;
}